




img {
    padding-bottom: 10px;
}

.codeSnippet {
    padding: 10px;
    margin: 10px;
    margin-left:0px;
    display: inline-block;
    background-color: #EEE;
    border-radius: 10px;
}

a > img:hover {
    opacity: .7;
}